[submodule "assets/vendor/chirplet"]
	path = assets/vendor/chirplet
	url = https://github.com/real-limoges/chirplet.git
[submodule "assets/vendor/petri"]
	path = assets/vendor/petri
	url = https://github.com/real-limoges/petri.git
